<section class="container">
  <div class="row">
    <div class="col-md-2 col-sm-0"></div>
    <div class="col-md-10 col-sm-12">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="row my-3">
        <div class="col-md-4 col-sm-6">
          <div class="field mb-2">
            <%= f.label :Email, class: 'ml-5 pl-5' %>
          </div>
          <div class="field">
            <%= f.label :Password, class: 'ml-5 pl-5' %>
          </div>
        </div>
        <div class="col-md-8 col-sm-6">
        <div class="field mb-2">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'w-50' %>
        </div>
        <div class="field mb-4">
          <%= f.password_field :password, autocomplete: "current-password", class: 'w-50' %>
        </div>
        <div class="actions mb-3">
          <%= f.submit "ログイン" ,class: 'btn btn-sm px-4', style:"background-color: #F3F1EA" %>
        </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>
