              <!--modalウィンドウ-->
              <div class="modal fade" id="exampleModal_<%= review.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel_<%= review.id %>" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel_<%= review.id %>">コメントフォーム</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <%= form_with model: [comment], url: public_review_comments_path(review), local: false do |f| %>
                      <%= f.text_area :detail, rows: '5', placeholder: "コメントをここに", id: review.id, class:"form-control" %>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
                      <%= f.submit "送信する", class:"btn btn-primary" %>
                    </div>
                    <% end %>
                  </div>
                </div>
              </div>