<!--コメントindex機能テンプレート-->
<p>コメント件数：<%= comments.count %></p>
<% comments.each do |comment| %>
  <div>
    <%= image_tag comment.customer.get_profile_image(30,30), class:"rounded-circle mb-2 mt-3", style: "height: 30px; width: 30px; object-fit: cover;" %>
    <%= comment.customer.name %>
    <%= comment.created_at.strftime('%Y/%m/%d') %>
    <span class="sentiment-score">感情点数<%= comment.score %></span>
  <div>
    <%= comment.detail %>
    <% if comment.customer_id == current_customer.id %>
      <%= link_to "削除", public_review_comment_path(comment.review, comment), method: :delete, remote: true, data: {confirm: "本当に削除しますか？"}, class:"btn btn-outline-danger btn-sm" %>
    <% end %>
  </div>
<% end %>
