<%= search_form_for @q,url: public_reviews_path do |f|%>
  <%= f.text_field :content_cont %>
  <%= f.submit "検索" %>
<% end %>

<h4>原産地別で探す</h4>

<% @production_areas.each do |area| %>
  <%= link_to area.genre_name, public_reviews_path(production_area_id: area.id) %>
  <% if area.area_image.attached? %>
    <%= image_tag area.area_image, size: "100x100" %>
  <% else %>
    <%= image_tag 'no_image', size: "100x100" %>
  <% end %>
<% end %>


<!--検索がヒットしなかった場合-->

<% if @reviews.present? %>
  <% @reviews.each do |review| %>
  <div>
    <%= image_tag review.get_image, size:"250x250" %>
    <p>投稿ユーザー画像：<%= image_tag review.customer.get_profile_image(80,80) %></p>
    <p>ショップ名：<%= review.item %></p>
    <p>原産地名：<%= review.production_area.genre_name %></p>
    <p>説明：<%= review.content %></p>
    <%= link_to '詳細', public_review_path(review.id) %>
    <p>ユーザーネーム：<%= review.customer.name %></p>
  </div>
  <% end %>
  <% else %>
<!--検索がヒットしなかった場合-->
 <p>検索結果はありません</p>
<% end %>

