<!--絞り込み機能-->
<div class="text-center mt-5">
  <h4>原産地別で探す</h4>

  <% @production_areas.each do |area| %>
  <div class="production_img">
    <% if area.area_image.attached? %>
    <%= image_tag area.area_image, size: "180x100", class:"rounded" %>
    <% else %>
    <%= image_tag 'no_image', size: "100x100" %>
    <% end %>
    <p><%= link_to area.genre_name, public_reviews_path(production_area_id: area.id) %></p>
  </div>
  <% end %>

</div>
<!--検索がヒットしなかった場合-->
<div class="container py-5">
  <% if @reviews.present? %>
  <div class="row">
    <% @reviews.each do |review| %>
    <div class="col-md-6 offset-md-3">
      <div class="card mx-auto mt-4 shadow-lg">
        <%= link_to public_review_path(review.id) do %>
        <%= image_tag review.get_image, size: "400x400", style: " object-fit: cover;", class:"card-img-top"; %>
        <% end %>
        <div class="card-body">
          <div class="row">
            <div class="col-2">
              <%= link_to public_customer_path(review.customer.id), class:"text-dark" do %>
              <%= image_tag review.customer.get_profile_image(50,50), class:"mt-3 rounded-circle", style: "height: 50px; width: 50px; object-fit: cover;" %>
              <% end %>
            </div>
            <div class="col-10">
              <p class="card-title">
                <%= link_to public_review_path(review.id), class:"text-dark" do %>
                <strong><span><%= review.item %></span></strong>
                <% end %>
              </p>
              <p>原産地名：<%= review.production_area.genre_name %></p>
              <p class="card-text">説明：<%= review.content %></p>
              <%= link_to public_customer_path(review.customer.id), class:"text-dark" do %>
              <span><i class="fas fa-user"></i> By <%= review.customer.name %><% end %> | コメント</span>
              <i  data-toggle="modal" data-target="#exampleModal"  class=" far fa-comment"></i><%= review.comments.count %> |
              役に立った<i class="far fa-thumbs-up ml-2"></i><%= review.favorites.count %>
              <!--モーダルウィンドウ部分-->
              <div class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">コメントフォーム</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Button trigger modal -->
              <button >
              </button>
              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                                    <%= form_with model: [@review, @comment], url: public_review_comments_path(review), local: false do |f| %>
  <div class="modal-body">
    <div><%= f.text_area :detail, rows: '5', placeholder: "コメントをここに", id: "comment_form", class:"form-control" %></div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
    <%= f.submit "送信する", class:"btn btn-primary" %>
  </div>
<% end %>
                    </div>

                  </div>
                </div>
              </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
  <!--ページネーション機能-->
  <div class="pager mt-3"><%= paginate @reviews %></div>
  <% else %>

<!--検索がヒットしなかった場合-->
<p>検索結果はありません</p>
<% end %>
