<%= search_form_for @q,url: admin_reviews_path do |f|%>
  <%= f.text_field :content_cont %>
  <%= f.submit "検索" %>
<% end %>

<!--検索がヒットしなかった場合-->

<% if @reviews.present? %>
  <% @reviews.each do |review| %>
  <div>
    <%= image_tag review.get_image %>
    <p>投稿ユーザー画像：<%= image_tag review.customer.get_profile_image(100,100) %></p>
    <p>ショップ名：<%= review.item %></p>
    <p>原産地名：<%= review.production_area.genre_name %></p>
    <p>説明：<%= review.content %></p>
    <%= link_to '詳細', admin_review_path(review.id) %>
    <%= link_to "レビュー削除", admin_review_path(review), method: :delete %>
    <p>ユーザーネーム：<%= review.customer.name %></p>
  </div>
  <% end %>
  <% else %>
<!--検索がヒットしなかった場合-->
 <p>検索結果はありません</p>
<% end %>