<%= search_form_for @q,url: public_reviews_path do |f|%>
<div class="input-group w-50 mt-2 mb-2">
  <span id="inputGroup-sizing-sm">
    <%= f.text_field :content_cont, class:"form-control input-group-prepend mx-2" %>
  </span>
  <span class="input-group-btn input-group-append">
    <%= f.submit "検索", class:"btn btn-primary mx-3 px-3" %>
  </span>
  <% end %>
</div>
  

<!--検索がヒットしなかった場合-->
<% if @reviews.present? %>
  <% @reviews.each do |review| %>
    <div class="text-center">
      <%= link_to public_customer_path(review.customer.id), class:"text-dark" do %>
        <div><%= image_tag review.customer.get_profile_image(50,50), class:"rounded-circle mb-2 mt-3", style: "height: 50px; width: 50px; object-fit: cover;" %><%= review.customer.name %>さんのレビュー</div>
      <% end %>
      <div><%= image_tag review.get_image, size: "400x400", style: "object-fit: cover;" %></div>
      <div class="mt-2">商品名：<%= review.item %></div>
      <div class="mt-2">原産地名：<%= review.production_area.genre_name %></div>
      <div class="mt-2">説明：<%= review.content %></div>
      <div class="mt-2"><%= link_to '詳細', public_review_path(review.id), class:"btn btn-outline-primary w-25" %></div>
      <div class="mt-2"><%= review.comments.count %>件のコメント</div>
      <div class="mt-2"><%= review.favorites.count %>件役に立った</div>
    </div>
  <% end %>
<% else %>
<!--検索がヒットしなかった場合-->
  <p>検索結果はありません</p>
<% end %>

