<div class="text-center">
  <div>
    <%= image_tag @review.customer.get_profile_image(80,80), class:"rounded-circle mr-3", style: "object-fit: cover;" %>
    <%= @review.customer.name %>
  </div>
  <%= image_tag @review.get_image, size:"400x400", style: "object-fit: cover;" %>
  <div class="mt-2"><%= @review.item %></div>
  <div class="mt-2">説明：<%= @review.content %></div>
  
  <% if @review.customer == current_customer %>
    <%= link_to "レビュー編集", edit_public_review_path(@review), class:"btn btn-outline-success w-25 mb-2" %>
  <% end %>
  <% if @review.customer == current_customer %>
    <div><%= link_to "レビュー削除", public_review_path(@review), method: :delete, class:"btn btn-outline-danger w-25 mb-2" %></div>
  <% end %>
  <!--いいね機能-->
  <div id="favorite_buttons_<%= @review.id %>">
    <%= render "public/favorites/favorite", review: @review %>
  </div>
<!--コメント一覧-->
  <div id="new-comment">
    <%= render 'public/comments/form', review: @review, comment: @comment %>
  </div>
  <!--コメントフォーム-->
  <div id="comments_area" > 
    <%= render 'public/comments/review_comments', review: @review %>
  </div>
</div>