<div>
  <%= image_tag @review.get_image %>
  <p>商品名 ：<%= @review.item %></p>
  <p>説明：<%= @review.content %></p>
  <p>投稿ユーザー画像：<%= image_tag @review.customer.get_profile_image(100,100) %></p>
  <p>ユーザーネーム：<%= @review.customer.name %></p>
  <% if @review.customer == current_customer %>
    <%= link_to "削除", public_review_path(@review), method: :delete %>
  <% end %>
</div>

<div>
  <p>コメント件数：<%= @review.comments.count %></p>
  <% @review.comments.each do |comment| %>
    <p><%= image_tag comment.customer.get_profile_image(100,100) %></p>
    <%= comment.customer.name %>
    <%= comment.created_at.strftime('%Y/%m/%d') %>
    <!--表示されるが文字ではなく0で表示されてしまう-->
    <%= comment.detail %>
  <% end %>
</div>
<div>
  <%= form_with model: [@review, @comment], url: public_review_comments_path(@review) do |f| %>
    <%= f.text_area :detail, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>