<!DOCTYPE html>
<html>
  <head>
    <title>Ardbeg</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header style="width: 100%; background-color: #F3F1EA">
      <div>
        <nav class="navbar navbar-expand-sm">
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="container-fluid">
            
            <% if admin_signed_in? %>
              <div class="collapse navbar-collapse justify-content-end">
                <div class="navbar-nav ml-auto list-unstyled">
              <%=  link_to  admin_reviews_path,class: 'm-4 nav-link btn btn-outline-secondary' do %>
                投稿一覧
              <% end %>
              
              <%= link_to admin_customers_path,class: 'm-4 nav-link btn btn-outline-secondary' do %>
                会員一覧
              <% end %>
              
              <%= link_to admin_production_areas_path,class: 'm-4 nav-link btn btn-outline-secondary' do %>
                原産地名一覧
              <% end %>
              
              <%= link_to destroy_admin_session_path, method: :delete,class: 'm-4 nav-link btn btn-outline-secondary' do %>
                ログアウト
              <% end %>
                </div>
              </div>
          
            <% elsif customer_signed_in? %>
              <%= link_to root_path, class:'navbar-brand text-dark' do %>
                Ardbeg
              <% end %>
              <div class="collapse navbar-collapse justify-content-end">
                <div class="navbar-nav ml-auto list-unstyled">
                  <!--logoの設定-->
                  
                  
                  <%= link_to new_public_review_path,class: 'm-4 nav-link btn btn-outline-secondary' do %>
                    投稿フォーム
                  <% end %>
                  
                  <%= link_to public_reviews_path,class: 'm-4 nav-link btn btn-outline-secondary' do %>
                    口コミ一覧
                  <% end %>
        
                  <%= link_to public_customer_path(current_customer.id),class: 'm-4 nav-link btn btn-outline-secondary' do %>
                    マイページ
                  <% end %>
        
                  <%= link_to destroy_customer_session_path, method: :delete,class: 'm-4 nav-link btn btn-outline-secondary' do %>
                    ログアウト
                  <% end %>
                </div>
              </div>
              <% else %>
                <%= link_to root_path, class:'navbar-brand text-dark' do %>
                  Ardbeg
                <% end %>
                <div class="collapse navbar-collapse justify-content-end">
                  <div class="navbar-nav ml-auto list-unstyled">
                    
                    <li><%= link_to 'ゲストログイン（閲覧用）', customers_guest_sign_in_path, method: :post, class: 'm-4 nav-link btn btn-outline-secondary' %></li>
                    
                    <%= link_to new_customer_registration_path,class: 'm-4 nav-link btn btn-outline-secondary' do %>
                      新規登録
                    <% end %>
                    
                    <%= link_to new_customer_session_path,class: 'm-4 nav-link btn btn-outline-secondary' do %>
                      ログイン
                    <% end %>
                  </div>
                </div>
              <% end %>
    </header>
    <%= notice %>
    <%= yield %>
  </body>
  
  <footer>
  <div class="w-100 mt-5 mb-5" style="background-color: #F3F1EA; height: 70px"></div>
  <div class="container small my-5 pt-4">
    <div class="row justify-content-center">
      <div class="col-md-3">
        <%= link_to root_path, class:'navbar-brand text-dark' do %>
          Ardbeg
        <% end %>
      </div>
      <div class="col-md-2">
        <p>配送・支払い方法</p>
        <p>ご利用ガイド</p>
        <p>お問い合わせ</p>
      </div>
      <div class="col-md-2">
        <p>よくあるご質問</p>
        <p>プライバシーポリシー</p>
        <p>特定商取引法に基づく表記</p>
      </div>
    </div>
    <div class="row justify-content-center mt-4" style="font-size: 5px;">
      ©2023 Ardbeg. All Rights Reserved.
