<!DOCTYPE html>
<html>

<head>
  <title>Ardbeg</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header class="header-img">
    <div>
    
      <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav text-decoration">
            <% if admin_signed_in? %>
            <li class="nav-item active">
              <%=  link_to  admin_reviews_path,class: ' nav-link' do %>
              投稿一覧
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to admin_customers_path,class: ' nav-link' do %>
              会員一覧
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to admin_production_areas_path,class: ' nav-link' do %>
              原産地名一覧
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to destroy_admin_session_path, method: :delete,class: ' nav-link' do %>
              ログアウト
              <% end %>
            </li>
            <% elsif customer_signed_in? %>
            <li class="nav-item active">
              <%= link_to new_public_review_path,class: ' nav-link' do %>
              投稿フォーム
              <% end %>
            </li>
            <li class="nav-item active">
              <%= link_to public_reviews_path,class: ' nav-link' do %>
              口コミ一覧
              <% end %>
            </li>
            <li class="nav-item active">
              <%= link_to public_customer_path(current_customer.id),class: ' nav-link' do %>
              マイページ
              <% end %>
            </li>
            <li class="nav-item active">
              <%= link_to destroy_customer_session_path, method: :delete,class: ' nav-link' do %>
              ログアウト
              <% end %>
            </li>
            <% else %>
            <li class="nav-item active">
              <%= link_to 'ゲストログイン（閲覧用）', customers_guest_sign_in_path, method: :post, class: ' nav-link' %>
            </li>
            <li class="nav-item active">
              <%= link_to new_customer_registration_path,class: ' nav-link' do %>
              新規登録
              <% end %>
            </li>
            <li class="nav-item active">
              <%= link_to new_customer_session_path,class: ' nav-link' do %>
              ログイン
              <% end %>
            </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </div>
    <div>
      <% unless admin_signed_in? %>
        <%= link_to root_path, class:'text-white' do %>
          <h1 class="text-center m-4">Ardbeg</h1>
        <% end %>
      <% end %>
    </div>
    <div>
      <%= search_form_for @q,url: public_reviews_path, class:"form-inline my-2 my-lg-0 justify-content-center" do |f|%>
      <%= f.text_field :content_cont, class:"form-control mr-sm-2 " %>
      <%= f.submit "検索", class:"btn btn-primary my-2 my-sm-0" %>
      <% end %>
    </div>
  </header>
  <%= notice %>
  <%= yield %>
  <footer>
    <div class="w-100 mt-5 mb-5" style="background-color: #F3F1EA; height: 70px"></div>
    <div class="container small my-5 pt-4">
      <div class="row justify-content-center">
        <div class="col-md-3">
          <%= link_to root_path, class:'navbar-brand text-dark' do %>
          Ardbeg
          <% end %>
        </div>
        <div class="col-md-2">
          <p>利用規約</p>
          <p>ご利用ガイド</p>
          <%= link_to new_public_inquiry_path, class:'text-dark' do %>
          <div>お問い合わせ</div>
          <% end %>
        </div>
        <div class="col-md-2">
          <p>よくあるご質問</p>
          <p>プライバシーポリシー</p>
          <p>特定商取引法に基づく表記</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-4" style="font-size: 5px;">
      ©2023 Ardbeg. All Rights Reserved.
    </div>
  </footer>
</body>
